.chip {
    background-color: #404040;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    margin: 0px 5px;
    max-height: 35px;
    max-width: 130px;
    min-width: 70px;
    margin-top: 8px;
    text-align: center;
    font-family: 'MyFont';
}
