@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url('../Fonts/Maiandra GD Regular.ttf') format('truetype');
}

body,
html {

    margin: 0;
    font-family: 'Myfont';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    margin: 0;
}

code {
    /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace; */
    font-family: 'Myfont';

}


