.profile-page {
    font-family: 'MyFont';
}

.user-info {
    background-color: #000;
    width: 100%;
    height: 25%;
    background-size: cover;
}
.avatar {
    border-radius: 50%;
    width: 10%;
    background-color: rgb(182, 182, 182);
    padding:1%;
    position: absolute;
    top: 15%;
    left: 45%;
}
.user-name {
    display: inline;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 36%;
    left: 38%;
}
.profile-cover {
    position: relative;
    width: 100%;
    height: 2%;
}

.line {
    border: 1px solid #707070;
    margin: 0 0 30px 0;
}

.header-tabs {
    height: 28px;
    display: flex;
    justify-content: space-around;
    margin-top: -28px;
    margin-bottom: 2px;
}

.ver-line {
    border-left: 2px solid #707070;
    height: 28px;
    align-self: center;
}

.header-btns {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    color: white;
    display: inline;
    align-self: center;
    margin: 0 auto;
    cursor: pointer;
}

.select-input{
    margin-top: -10px;
    border-radius: 10px;
    padding: 5px;
    color: #ed1c24;
    border : solid 1px #ed1c24;
}

.header-btns:hover{
    color: #ed1c24;
}

.lists {
    padding-left: 2%;
}

.empty{
    margin: 10% 0 10% 0 ;
    max-width: 30%;
}